<h1>Welcome#index</h1>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>	

<p>Find me in app/views/welcome/index.html.erb</p>
